@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,3000,4000,7001,3001,4001,700&display=swap')

body
  margin: 0
  padding: 0
  box-sizing: border-box
  margin: 3rem
  font-family: 'Roboto Condensed', sans-serif
  font-size: 14px

a
  text-decoration: none
  color: #1100fd

.interface
  width: 1000px
  height: 400px
  margin: 0 auto
  display: flex
  flex-direction: row
  justify-content: flex-start
  border: 1px solid #BBB
  overflow: auto


