@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,3000,4000,7001,3001,4001,700&display=swap')

body
  margin: 0
  padding: 0
  box-sizing: border-box
  margin: 3rem
  font-family: 'Roboto Condensed', sans-serif

.interface
  width: 1000px
  height: 400px
  margin: 0 auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  background: #EEE
  border: 1px solid #555
  border-radius: 1rem

.nav
  width: 100%
  border-bottom: 1px solid #000

.nav-content
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 12px 24px

.player
  display: flex

.player-name
  margin-right: 8px
  font-weight: bold

.player-exp
  margin-right: 8px
  color: green

.player-condition
  color: red

.stats
  display: flex

.place
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 10px

.place-image
  display: block
  width: 1000px
  margin-bottom: 10px

.info-title
  font-size: 14px
  color: #777
  text-transform: uppercase

.info-data
  margin: 0 8px
  font-size: 16px
  font-weight: bolder    

.button
  margin: 0 12px
  padding: 8px
  width: 30px
  height: 30px
  border-radius: 50%
  background: #DDD
  text-decoration: none
  color: inherit
  font-size: 28px

.inventory
  width: 260px
  background: #DDD
  padding: 10px

.inventory-items
  margin: 8px 0 0
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.item-data
  display: block
  margin: 4px 4px 8px
  width: 42px
  height: 42px
  background: #CCC

.craft
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  margin: 1rem 0
  display: flex