@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #EEE;
    margin: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
}

.interface {
    width: 320px;
    height: 660px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #EEE;
    border: 1px solid #555;
    border-radius: 1rem;
}

.stats {
    width: 96%;
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.place-image {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.info-title {
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
}

.info-data {
    font-size: 18px;
    font-weight: bolder;    
}

.button {
    margin-right: 1rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid #333;
    border-radius: 5px;
    background: transparent;
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

.header {}

.inventory {    
    background: #DDD;
    padding: 10px;
}

.craft {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
    display: flex;
}

.craft > a {
    margin: 8px;
}