.nav
  height: 100%
  width: 25%

.nav-content
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 16px

.player
  display: flex
  flex-direction: column

.player-name
  margin-right: 8px
  font-weight: bold
  text-transform: uppercase

.player-exp
  margin-right: 8px

.player-condition
  color: red

.stats
  display: flex
  flex-direction: column

.info-title
  color: #777
  text-transform: uppercase

.info-data
  margin: 0 8px
  text-transform: uppercase  